/* default settings ----------------------------------------------------------*/

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  /* colour */
  --blackColor: black;
  --blackvintage: #181d31;
  --whiteColor: white;
  --darkWhiteColor: #f1f0ea;

  /* font  */

  --montserratFont: 'Montserrat', sans-serif;
  --drukBoldTrial: 'DrukBoldTrial';
  --monasansLightNarrow: 'MonaSansLightNarrow';
  --monaSansLight: 'MonaSansLight';
  --monaSansBold: 'MonaSansBold';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1cc63b;
  --text-color: white;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
  display: grid;
  place-content: center;
  height: 100vh;
}

section {
  position: relative;
  width: 100vw;
  height: 60vh;
}

.container {
  position: relative;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.container img {
  position: relative;
  width: 50%;
  height: 50%;
  z-index: 10;
}

.mask {
  position: relative;
  overflow: hidden;
}

.mask h1 {
  font-size: 2.5rem;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2%;
  background: rgb(255, 255, 255);
}

.button-back {
  display: flex;
  justify-content: center;
}

.button-back button {
  padding: 1rem;
  border-radius: 1rem;
}

.button-back a {
  font-size: calc(0.6rem + 0.5vw);
  text-decoration: none;
}
